/* CustomDropdown.css */
.custom-dropdown {
    position: relative;
    width: 200px; /* 드롭다운 박스의 너비 설정 */
  }
  
  .selected-option {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    color: #333;
  }
  
  .selected-option:hover {
    border-color: #666;
  }
  
  .option-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    border: 1px solid #ccc;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px; /* 옵션 목록의 최대 높이 설정 */
    overflow-y: auto;
  }
  
  .option-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .option-item:hover {
    background-color: #f0f0f0;
  }
  
  .menuButton {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menuButton button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .menuButton button.hovered {
    transform: scale(1.05);
  }
  
  .menuButton.clicked {
    /* 클릭에 대한 스타일을 여기에 추가하세요 */
  }
  
.underline {
  /* position: absolute; */
  width: 15.5vw;
  height: 3px;
  background-color: #000; /* 굵은 선의 색상 설정 */
  bottom: 0;
}

.underline2 {
  /* position: absolute; */
  width: 15.5vw;
  margin-left: 15vw;

  height: 3px;
  background-color: #000; /* 굵은 선의 색상 설정 */
  bottom: 0;
}
  
.underline3 {
  /* position: absolute; */
  width: 15.5vw;
  margin-left: 30vw;

  height: 3px;
  background-color: #000; /* 굵은 선의 색상 설정 */
  bottom: 0;
}
  
  