.topContainer {
    display: flex;
    width: 100%; 
}

.profileCard{
    display: flex;
    width: 42vw;
    height: 46vh;
    padding-top: 15.094px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.profileContainer{
    display: flex;
    gap: 10%;
    width: 100%;
    height: 100%;
}

/* .profileImg{
    width: 50%;
} */

.userName{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.col1{
    display: flex;
    gap: 16.45px;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 40px;
}

.medal{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    color: #4B4B4B;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .medalImg{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
} */

.medalName{
    color: #4B4B4B;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.infoData{
    color: #FF6161;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infoText{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.col2{
    display: flex;
    float: left;
    gap: 30px;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
    padding-bottom: 40px;
}

.rightTop{
    display: flex;
    width: 42vw;
}

.steamed{
    width: 50%;
    height: 22vh;
    border-radius: 22px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray 1.631px -96.05px / 100.643% 217% no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}