.wrap{
    width: 1200px;
    margin:auto;
}
.wrapBottom{
    color:var(--color-grey);
}
.top{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.buttonYes{
    background-color: var(--color-green);
    color:var(--color-white);
    border: 0;
    border-radius: 8px;
    font-size: 15px;
}
.buttonNo{
    background-color: var(--color-red);
    color:var(--color-white);
    border: 0;
    border-radius: 8px;
    font-size: 15px;
}
.myCustomClass .swal2-popup.swal2-border-radius{
    border-radius: 5px;
}